body {
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='2080' preserveAspectRatio='none' viewBox='0 0 1920 2080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1358%26quot%3b)' fill='none'%3e%3crect width='1920' height='2080' x='0' y='0' fill='rgba(16%2c 15%2c 15%2c 1)'%3e%3c/rect%3e%3cpath d='M1805 1588L1804 442' stroke-width='10' stroke='url(%23SvgjsLinearGradient1359)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1350 1999L1349 916' stroke-width='8' stroke='url(%23SvgjsLinearGradient1359)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M632 1164L631 2327' stroke-width='10' stroke='url(%23SvgjsLinearGradient1360)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1475 1747L1474 240' stroke-width='6' stroke='url(%23SvgjsLinearGradient1359)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1605 1890L1604 680' stroke-width='8' stroke='url(%23SvgjsLinearGradient1360)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M682 915L681 -621' stroke-width='8' stroke='url(%23SvgjsLinearGradient1361)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M249 1352L248 342' stroke-width='6' stroke='url(%23SvgjsLinearGradient1362)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M880 852L879 2402' stroke-width='6' stroke='url(%23SvgjsLinearGradient1363)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M238 689L237 1832' stroke-width='8' stroke='url(%23SvgjsLinearGradient1364)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1169 1020L1168 -459' stroke-width='8' stroke='url(%23SvgjsLinearGradient1365)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M197 1618L196 157' stroke-width='10' stroke='url(%23SvgjsLinearGradient1362)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1231 939L1230 1741' stroke-width='8' stroke='url(%23SvgjsLinearGradient1361)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1001 58L1000 -1132' stroke-width='10' stroke='url(%23SvgjsLinearGradient1359)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M63 1783L62 1245' stroke-width='6' stroke='url(%23SvgjsLinearGradient1363)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1015 274L1014 -975' stroke-width='10' stroke='url(%23SvgjsLinearGradient1365)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1230 647L1229 1673' stroke-width='6' stroke='url(%23SvgjsLinearGradient1360)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1510 568L1509 1910' stroke-width='10' stroke='url(%23SvgjsLinearGradient1366)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M416 532L415 -564' stroke-width='10' stroke='url(%23SvgjsLinearGradient1360)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1021 1137L1020 -340' stroke-width='10' stroke='url(%23SvgjsLinearGradient1365)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1771 1242L1770 2060' stroke-width='6' stroke='url(%23SvgjsLinearGradient1364)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M57 1262L56 -34' stroke-width='6' stroke='url(%23SvgjsLinearGradient1363)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M795 1206L794 333' stroke-width='10' stroke='url(%23SvgjsLinearGradient1364)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1563 1284L1562 11' stroke-width='6' stroke='url(%23SvgjsLinearGradient1363)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1816 134L1815 -903' stroke-width='10' stroke='url(%23SvgjsLinearGradient1360)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M196 887L195 -129' stroke-width='10' stroke='url(%23SvgjsLinearGradient1366)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1623 949L1622 -452' stroke-width='8' stroke='url(%23SvgjsLinearGradient1365)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M926 158L925 -825' stroke-width='8' stroke='url(%23SvgjsLinearGradient1362)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1475 80L1474 -568' stroke-width='8' stroke='url(%23SvgjsLinearGradient1361)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1567 1106L1566 -186' stroke-width='6' stroke='url(%23SvgjsLinearGradient1360)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1316 1689L1315 3171' stroke-width='6' stroke='url(%23SvgjsLinearGradient1361)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1006 226L1005 -1330' stroke-width='8' stroke='url(%23SvgjsLinearGradient1363)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M830 900L829 1634' stroke-width='10' stroke='url(%23SvgjsLinearGradient1359)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M321 1367L320 127' stroke-width='10' stroke='url(%23SvgjsLinearGradient1366)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M8 119L7 -1043' stroke-width='8' stroke='url(%23SvgjsLinearGradient1366)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M309 588L308 1481' stroke-width='6' stroke='url(%23SvgjsLinearGradient1365)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M685 105L684 -647' stroke-width='6' stroke='url(%23SvgjsLinearGradient1359)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1838 192L1837 979' stroke-width='6' stroke='url(%23SvgjsLinearGradient1366)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1676 2022L1675 1257' stroke-width='6' stroke='url(%23SvgjsLinearGradient1361)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1030 117L1029 -1243' stroke-width='10' stroke='url(%23SvgjsLinearGradient1366)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1227 1314L1226 138' stroke-width='8' stroke='url(%23SvgjsLinearGradient1364)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M7 918L6 -137' stroke-width='10' stroke='url(%23SvgjsLinearGradient1366)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1045 1928L1044 1179' stroke-width='8' stroke='url(%23SvgjsLinearGradient1360)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M617 515L616 -732' stroke-width='10' stroke='url(%23SvgjsLinearGradient1362)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M706 266L705 -1074' stroke-width='10' stroke='url(%23SvgjsLinearGradient1364)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1170 1850L1169 614' stroke-width='8' stroke='url(%23SvgjsLinearGradient1365)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M738 1904L737 557' stroke-width='10' stroke='url(%23SvgjsLinearGradient1364)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M169 849L168 -607' stroke-width='8' stroke='url(%23SvgjsLinearGradient1363)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M148 254L147 834' stroke-width='8' stroke='url(%23SvgjsLinearGradient1363)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1358'%3e%3crect width='1920' height='2080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1359'%3e%3cstop stop-color='rgba(229%2c 184%2c 244%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(229%2c 184%2c 244%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1360'%3e%3cstop stop-color='rgba(129%2c 12%2c 168%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(129%2c 12%2c 168%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1361'%3e%3cstop stop-color='rgba(229%2c 184%2c 244%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(229%2c 184%2c 244%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1362'%3e%3cstop stop-color='rgba(45%2c 3%2c 59%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(45%2c 3%2c 59%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1363'%3e%3cstop stop-color='rgba(193%2c 71%2c 233%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(193%2c 71%2c 233%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1364'%3e%3cstop stop-color='rgba(45%2c 3%2c 59%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(45%2c 3%2c 59%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1365'%3e%3cstop stop-color='rgba(129%2c 12%2c 168%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(129%2c 12%2c 168%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1366'%3e%3cstop stop-color='rgba(193%2c 71%2c 233%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(193%2c 71%2c 233%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1158%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(29%2c 5%2c 61%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c723.642C162.427%2c714.401%2c346.353%2c839.329%2c477.775%2c743.432C610.603%2c646.509%2c533.128%2c423.935%2c609.961%2c278.56C694.365%2c118.861%2c939.987%2c45.135%2c942.297%2c-135.482C944.538%2c-310.708%2c763.593%2c-436.561%2c620.401%2c-537.581C497.018%2c-624.626%2c344.404%2c-643.56%2c194.655%2c-662.935C65.158%2c-679.69%2c-61.396%2c-671.81%2c-188.582%2c-642.25C-322.619%2c-611.098%2c-466.826%2c-586.357%2c-562.092%2c-487.055C-659.082%2c-385.956%2c-666.819%2c-235.837%2c-707.185%2c-101.678C-755.254%2c58.083%2c-856.473%2c212.043%2c-821.523%2c375.177C-784.154%2c549.602%2c-678.26%2c730.204%2c-514.04%2c799.861C-351.276%2c868.901%2c-176.516%2c733.685%2c0%2c723.642' fill='%2315042d'%3e%3c/path%3e%3cpath d='M1920 1735.1599999999999C2039.096 1713.795 2113.4809999999998 1600.662 2200.741 1516.841 2271.814 1448.569 2337.988 1379.154 2382.27 1291.1109999999999 2427.951 1200.287 2469.83 1103.572 2459.468 1002.436 2448.907 899.359 2398.218 802.345 2324.71 729.317 2254.011 659.079 2151.501 643.254 2059.46 605.0419999999999 1954.625 561.518 1859.853 482.42100000000005 1746.55 489.283 1622.855 496.774 1494.1190000000001 547.132 1416.788 643.9649999999999 1340.183 739.889 1336.9679999999998 874.105 1341.252 996.789 1345.03 1104.973 1403.489 1197.334 1439.675 1299.357 1480.008 1413.071 1476.732 1549.622 1566.089 1630.696 1659.067 1715.056 1796.4279999999999 1757.328 1920 1735.1599999999999' fill='%2325064e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1158'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: repeat-x;
}
header {
  padding-left: 2%;
  padding-right: 2%;
  width: 100vw;
  border-bottom: #deb992 1px solid;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  height: 8vh;
  background-color: rgba(24, 8, 20, 0.9176470588);
  position: fixed;
}

#header_logo {
  padding-top: 0.6vh;
  font-size: 2.5em;
  font-family: "Pacifico", cursive;
  -webkit-animation: do_a_logo 5s linear infinite;
  animation: do_a_logo 5s linear infinite;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #571529 0%,
    #44107a 29%,
    #ff1361 67%,
    #a6ff00 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 10s linear infinite;
  animation: textclip 10s linear infinite;
  display: inline-block;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@-webkit-keyframes do_a_logo {
  0% {
    color: #fff9ca;
  }
  25% {
    color: #b2a4ff;
  }
  50% {
    color: #ffb4b4;
  }
  75% {
    color: #d2001a;
  }
  100% {
    color: #fff9ca;
  }
}
@keyframes do_a_logo {
  0% {
    color: #fff9ca;
  }
  25% {
    color: #b2a4ff;
  }
  50% {
    color: #ffb4b4;
  }
  75% {
    color: #d2001a;
  }
  100% {
    color: #fff9ca;
  }
}
nav {
  justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  padding-top: 2.3vh;
  float: right;
}
nav a {
  display: inline;
  list-style-type: none;
  text-decoration: none;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
  padding-bottom: 1.5rem;
  padding-top: 2.1rem;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  color: #e9c893;
}

@media screen and (max-width: 830px) {
  body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='900' preserveAspectRatio='none' viewBox='0 0 500 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1624%26quot%3b)' fill='none'%3e%3crect width='500' height='900' x='0' y='0' fill='rgba(16%2c 15%2c 15%2c 1)'%3e%3c/rect%3e%3cpath d='M444 806L443 1186' stroke-width='8' stroke='url(%23SvgjsLinearGradient1625)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M32 105L31 547' stroke-width='6' stroke='url(%23SvgjsLinearGradient1625)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M194 424L193 -222' stroke-width='10' stroke='url(%23SvgjsLinearGradient1625)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M56 713L55 414' stroke-width='10' stroke='url(%23SvgjsLinearGradient1626)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M303 830L302 1317' stroke-width='10' stroke='url(%23SvgjsLinearGradient1625)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M170 846L169 615' stroke-width='10' stroke='url(%23SvgjsLinearGradient1627)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M281 171L280 -233' stroke-width='10' stroke='url(%23SvgjsLinearGradient1625)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M123 888L122 1520' stroke-width='8' stroke='url(%23SvgjsLinearGradient1626)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M430 447L429 104' stroke-width='10' stroke='url(%23SvgjsLinearGradient1628)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M326 536L325 36' stroke-width='8' stroke='url(%23SvgjsLinearGradient1628)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M212 697L211 1036' stroke-width='8' stroke='url(%23SvgjsLinearGradient1628)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M313 583L312 1075' stroke-width='8' stroke='url(%23SvgjsLinearGradient1627)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M273 608L272 380' stroke-width='10' stroke='url(%23SvgjsLinearGradient1625)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1624'%3e%3crect width='500' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1625'%3e%3cstop stop-color='rgba(161%2c 0%2c 53%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(161%2c 0%2c 53%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1626'%3e%3cstop stop-color='rgba(161%2c 0%2c 53%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(161%2c 0%2c 53%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1627'%3e%3cstop stop-color='rgba(63%2c 167%2c 150%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(63%2c 167%2c 150%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1628'%3e%3cstop stop-color='rgba(63%2c 167%2c 150%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(63%2c 167%2c 150%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  }

  header {
    background-color: #180814ea;
  }
  #header_logo {
    padding-top: 0vh;
    font-size: 30px;
  }
  #burger div {
    display: block;
  }
  nav {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #151b29f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  #text {
    width: 100%;
    height: 24vh;
    font-size: 25px;
    display: inline;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  #text {
    background: linear-gradient(black 50%, #fff 0) 0 var(--_d, 0) / 100% 200%
        no-repeat,
      linear-gradient(#0000 50%, #deb992 0) 0 var(--_d, 0) / 100% 200% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.8s;
  }
  #text:hover {
    --_d: 100%;
    color: #141824;
    font-weight: 800;
  }
}

@media screen and (max-width: 840px) {
  header {
    display: flex;
  }
  nav {
    padding-top: 0;
  }
  #text {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  #text {
    font-size: 15px;
  }
}
