* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background-color: #dfdbe5;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#photo {
  padding: 2px;
}

#photo:hover {
  background: #5c5b5b28;
}

.active {
  background-color: #deb992;
  font-weight: 800;
  color: #141824;
}
