* {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background: #1a1a1d;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* In Progress*/

.product-list {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 2fr));
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding: 0px;
}
.product-list2 {
  width: 50vw;
  position: relative;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2vh;
  grid-column-gap: 2vh;
  padding: 0;
}
#opisa {
  display: flex;
  font-size: 30px;
  font-weight: 700;
  color: #e9c893;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-column-start: auto;
  grid-column: autor;
  margin-bottom: 1%;
}
.product-item {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: fit-content;
  min-width: 300px;
  max-width: 330px;
  min-height: 130px;
  max-height: 130px;
  border-radius: 15px;
  background-color: #022c43;
  display: flex;
  padding: 13px 26px 13px 26px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.ab {
  width: 40%;
  background-color: #022c43;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.product-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.product-item__content {
  margin: 0 5% 0 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #deb992;
  width: 50%;
}
button {
  width: 100%;
  background: none;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  animation: do_a_logo 5s linear infinite;
  font-size: 1.2rem;
  font-weight: 700;
}

button:hover {
  background-color: #271052;
  border: none;
  border-radius: 5px;
}
h2 a {
  list-style-type: none;
  text-decoration: none;
  color: #e9c893;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
h3 a {
  list-style-type: none;
  text-decoration: none;
  color: #e9c893;
  display: -webkit-box;
}
.product-item h2,
.product-item h3 {
  margin: 0 0 0.5rem 0;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#opisa2 {
  display: flex;
  font-size: 30px;
  font-weight: 700;
  color: #e9c893;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 1%;
}
.product-item2 {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 375px;
  min-width: 16vw;
  min-height: 240px;
  max-height: 340px;
  padding: 0.1rem;
  border-radius: 15px;
  background-color: #190a35;
  display: flex;
  padding: 2% 3% 2% 3%;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.product-item2 img {
  width: 150px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}
.ab2 {
  width: 40%;
  max-height: 12vh;
  background-color: none;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.product-item__content2 {
  margin: 0 5% 0 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #deb992;
  width: 50%;
}
@media screen and (max-width: 500px) {
  .grid1,
  .grid2,
  .grid3,
  .grid4,
  .grid5 {
    grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .product-list {
    grid-column-gap: 2vh;
  }

  .product-item2 {
    display: flex;
    min-height: 290px;
    max-height: 540px;
  }
}

button:hover {
  background-color: #271052;
  border: none;
  border-radius: 5px;
}
.product-item__content2 h2 a {
  width: max-content;
  list-style-type: none;
  text-decoration: none;
  animation: do_a_logo 5s linear infinite;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
h3 a {
  list-style-type: none;
  text-decoration: none;
  color: #e9c893;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-item2 h2,
.product-item2 h3 {
  margin: 0 0 0.5rem 0;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#for_h3 {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 10px;
}

@keyframes text {
  100% {
    background-color: #8f62e2;
  }
}
#burger div {
  cursor: pointer;
  width: 30px;
  height: 4px;
  margin: 5px;
  background-color: #fdfdfd;
  display: none;
  padding-left: 3%;
  transition: all 0.3s ease;
}

#photo {
  padding: 2px;
}
#photo:hover {
  background: #5c5b5b28;
}
.activel {
  background-color: #deb992;
  font-weight: 800;
  color: #141824;
}
.toggle .line_one {
  transform: rotate(-45deg) translate(-9px, 4px);
}
.toggle .line_dwo {
  opacity: 0;
}
.toggle .line_three {
  transform: rotate(45deg) translate(-9px, -4px);
}
.nav_active {
  transform: translateX(0%);
}
@keyframes navLink {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media screen and (min-height: 600px) and (min-width: 800px) {
  header {
    overflow: hidden;
  }
}
@media screen and (max-height: 900px) and (max-width: 800px) {
  header {
    overflow: visible;
  }
}
@media screen and (max-width: 2505px) {
  #text {
    font-size: 20px;
  }
  nav {
    margin-left: 200px;
  }
}

@media screen and (max-width: 1579px) {
  #header_logo {
    margin-right: 7vw;
  }
  nav {
    margin-left: 0;
  }
}
@media screen and (max-width: 1350px) {
  header {
    height: 8vh;
  }
  nav a {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    padding-bottom: 1.3rem;
    padding-top: 2.1rem;
  }
}

@media screen and (max-width: 1320px) {
  .product-item__content button {
    font-size: 20px;
  }
  .product-item__content {
    font-size: 15px;
  }
}

@media screen and (max-width: 1150px) {
  #text {
    font-size: 19px;
  }
}
@media screen and (max-width: 1000px) {
  .product-item__content {
    font-size: 15px;
  }
  .product-list {
    width: 100%;
  }
}
@media screen and (max-width: 920px) {
  #burger div {
    display: block;
  }
  nav {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #151b29f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  #text {
    width: 100%;
    height: 24vh;
    font-size: 25px;
    display: inline;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .product-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
  }
  .product-list {
    min-width: 330px;
    grid-template-columns: 1fr;
  }
  .product-item {
    min-width: 530px;
    grid-template-columns: 1fr;
  }
  .product-item img {
    margin-top: 5px;
  }
  .ab {
    max-height: 25vh;
  }
  .ab1 {
    background-color: rgba(0, 0, 0, 0.897);
  }
  .ab2 {
    background-color: rgb(255, 255, 255);
  }
  .ab3 {
    background-color: rgb(6, 139, 6);
  }
  .ab4 {
    background-color: rgb(175, 172, 172);
  }
  .ab5 {
    background-color: rgb(19, 18, 18);
  }
  .ab6 {
    background-color: gray;
  }
}
@media screen and (max-width: 600px) {
  .product-item {
    min-width: 330px;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .product-list {
    padding: 0 0 0 0;
    width: 100vw;
  }
  .product-item2 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
  }
  #text {
    font-size: 15px;
  }
  button {
    padding: 0;
  }
  .product-item {
    margin: 0;
  }
  .product-item__content {
    width: 100%;
    margin: 0;
    margin-top: 1%;
  }
  .product-item__content2 {
    width: 100%;
    margin: 0;
  }
  h3 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
  }
}
